[submodule "pack/bundle/start/codefmt"]
	path = pack/bundle/start/codefmt
	url = https://github.com/google/vim-codefmt.git
[submodule "pack/bundle/start/commentary"]
	path = pack/bundle/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/bundle/start/fugitive"]
	path = pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bundle/start/fzf"]
	path = pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/bundle/start/glaive"]
	path = pack/bundle/start/glaive
	url = https://github.com/google/vim-glaive.git
[submodule "pack/bundle/start/gutentags"]
	path = pack/bundle/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/bundle/start/lightline"]
	path = pack/bundle/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/bundle/start/limelight"]
	path = pack/bundle/start/limelight
	url = https://github.com/junegunn/limelight.vim.git
[submodule "pack/bundle/start/lsc"]
	path = pack/bundle/start/lsc
	url = https://github.com/natebosch/vim-lsc
[submodule "pack/bundle/start/maktaba"]
	path = pack/bundle/start/maktaba
	url = https://github.com/google/vim-maktaba.git
[submodule "pack/bundle/start/mucomplete"]
	path = pack/bundle/start/mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "pack/bundle/start/pairs"]
	path = pack/bundle/start/pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/bundle/start/sleuth"]
	path = pack/bundle/start/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "pack/bundle/start/surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/vim-dart"]
	path = pack/bundle/start/vim-dart
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "pack/bundle/start/vim-emmet"]
	path = pack/bundle/start/vim-emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/bundle/start/vim-graphql"]
	path = pack/bundle/start/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "pack/bundle/start/vim-js"]
	path = pack/bundle/start/vim-js
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/bundle/start/vim-rails"]
	path = pack/bundle/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/bundle/start/vim-vue"]
	path = pack/bundle/start/vim-vue
	url = https://github.com/posva/vim-vue.git
