[submodule "pack/bundle/start/commentary"]
	path = pack/bundle/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/bundle/start/sleuth"]
	path = pack/bundle/start/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "pack/bundle/start/surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
